{% extends 'base.html.twig' %}


{% block title %}GR Shop{% endblock %}

{# Contenu de la page d'erreur 404 #}
{% block body %}
	<h1>Erreur 404</h1>
	<p>Un problème est survenu, merci de raffraîchir votre page ou de réessayer ultérieurement.</p>
	<p><a href="{{ path('produit') }}">Retour à l'accueil</a></p>
{% endblock %}