{% extends 'base.html.twig' %}

{% block title %}
	GR Shop
{% endblock %}

{% block body %}
	<br/>
	<h1>{{ 'produit.modif_produit' |trans }}</h1>
	<br/>
	<div style="display:flex;">
		<a href="{{ path('produit_show', {'id': produit.id}) }}">{{ 'produit.retour' |trans }}</a>
	</div>
	<br/>
	<br/>

	{{ include('produit/_form.html.twig') }}

{% endblock %}
